@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;700;900&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(199, 154, 241);
    font-family: 'Poppins', sans-serif;
    padding: 10px;
}

.App {
    background-color: rgb(255, 255, 255);
    max-width: 350px;
    padding: 20px;
    border-radius: 10px;
    font-weight: 500;
    margin: 20px auto;
}

.App .weather {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.App .weather h1 {
    text-align: center;
}

.App .weather img {
    margin: auto;
    text-align: center;
}

.App .weather > p {
    text-align: center;
    font-size: 2rem;
}

.App .weather div {
    margin: 20px;
    display: flex;
    justify-content: space-evenly;
    width: 80%;
}

.App .weather div p {
    opacity: .6;
}

.App .more-info {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
}